.item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.status {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.avatar {
    width: 100px;
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
    margin-left: 20px;
}

.name {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}